.addProductsDetailsC{
    display: grid;
    grid-template-columns:250px 250px ;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    /* border: 2px solid black;
    padding: 40px; */
}

/* .AdminAddProducts form{
    display: grid;
    grid-template-rows: ;
} */

/* .AdminAddProducts links{
    color: black;

} */

.AdminAddProducts{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    font-size: larger;
    
    
}
.apsubmit{
    height: 100px;
    width: 200px;
    margin-top:400px ;
}