.userViewName{
    
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sub_items{
    border: 2px solid black;
    padding: 30px;
}
.sub_items>img:hover{
    scale: 1.3;
    
}